<nav id="sidebar">
  <ul class="list-unstyled components">
    <li><%=
      link_to(
        content_tag(:i, ' ', class: 'fas fa-tachometer-alt'),
        root_path,
        title: t(:dashboard)
      )
    %></li>
    <li><%=
      link_to(
        content_tag(:i, ' ', class: 'fas fa-map-marker-alt'),
        trackings_path,
        title: Tracking.model_name.human(count: 2)
      )
    %></li>
    <li><%=
      link_to(
        content_tag(:i, ' ', class: 'far fa-address-card'),
        contacts_path,
        title: Contact.model_name.human(count: 2)
      )
    %></li>
  </ul>
</nav>
