<nav id="sidebar">
  <ul class="list-unstyled components">
    <li><%= link_to content_tag(:i, ' ', class: 'fas fa-tachometer-alt'), root_path, title: 'Dashboard' %></li>
    <li><%= link_to content_tag(:i, ' ', class: 'fas fa-map-marker-alt'), trackings_path, title: 'Tracking' %></li>
  </ul>
</nav>
